body {
    position: fixed;
    top: 20%;
}

body div {
    position: fixed;
    left: 0%;
    top: 0%;

    display: flex;
    flex-flow: row wrap;
}

body div p {
    margin-left: 10%;
    margin-right: 5%;
}